# Module: logstash
# Docs: https://www.elastic.co/guide/en/beats/metricbeat/7.16/metricbeat-module-logstash.html

- module: logstash
  xpack.enabled: true
  period: 300s
  hosts:
    - "localhost:9600"
